<div class="dashboard-layout">
  <div class="main-content">
    <app-nav-bar></app-nav-bar>
    <div class="card-container">
      <div class="event-card" *ngFor="let jobs of paginatedEvents">
        <img [src]="jobs.image" alt="jobs Image" class="jobs-image">
        <div class="event-details">
          <h3>{{ jobs.title }}</h3>
          <p>Description: {{ jobs.description }}</p>
          <p>Location: {{ jobs.location }}</p>
          <p>Status: {{ jobs.status }}</p>
          <p>Salary: ${{ jobs.salary }}</p>
          
          <button class="view-button" (click)="viewEvent(jobs.job_id)">View</button>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button
        (click)="prevPage()"
        [ngClass]="{'inactive-button': isFirstPage}"
        [ngStyle]="{'cursor': isFirstPage ? 'not-allowed' : 'pointer'}"
        [disabled]="isFirstPage">
        Previous
      </button>

      <button
        (click)="nextPage()"
        [ngClass]="{'inactive-button': isLastPage}"
        [ngStyle]="{'cursor': isLastPage ? 'not-allowed' : 'pointer'}"
        [disabled]="isLastPage">
        Next
      </button>
    </div>
    <app-footer></app-footer>
  </div>
</div>

