<div class="dashboard-layout">
  <div class="main-content">
    <!-- <app-navbar2></app-navbar2> -->

    <div *ngIf="successMessage" class="alert alert-success fade-in">
      {{ successMessage }}
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status }}</td>
            <td>
              <button class="delete-btn"  (click)="confirmDeactivation(user)">
                <i class="fas fa-trash-alt"></i> Deactivate Account
              </button>
              <button class="update-btn" (click)="confirmReactivation(user)">
                <i class="fas fa-edit"></i> Activate Account
              </button>
              <button class="update-btn" (click)="openModal()">
                <i class="fas fa-edit"></i> update metrics
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-footer2></app-footer2>

     <!-- Modal Form -->
     <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <form (submit)="createperformancesummary($event)">
          <div class="form-group">
            <label for="tasks">Tasks Completed</label>
            <input type="text" id="tasks" name="tasks" required>
          </div>
          <div class="form-group">
            <label for="description">Hours Worked</label>
            <textarea id="description" name="description" required></textarea>
          </div>
         
          <button type="submit" class="create-btn">Create Job</button>
        </form>
      </div>
    </div>
  </div>
</div>
