/* Container layout styles */
.dashboard-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-sidebar3 {
  width: 250px; /* Adjust the width as needed */
}

app-navbar3 {
  flex-shrink: 0;
}

app-footer2 {
  flex-shrink: 0;
  margin-top: auto; /* Push the footer to the bottom */
}

.table-container {
  padding: 20px;
}

table {
  width: 90%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.delete-btn{
  background-color:red;
  color: white;
  border: none;
  margin-right: 7px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
  background-color: #d95248; 
  transform: scale(1.05); /* Slight zoom */
}

.delete-btn:active {
  transform: scale(0.95); /* Shrink effect on click */
}

.update-btn{
  background-color:green;
  color: white;
  border: none;
  margin-right: 7px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-btn:hover {
  background-color: rgb(148, 214, 148); 
  transform: scale(1.05); /* Slight zoom */
}

.update-btn:active {
  transform: scale(0.95); /* Shrink effect on click */
}

.switch-btn {
  background-color: #fd7e14; /* Orange */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.switch-btn:hover {
  background-color: #ff9800; /* Lighter orange */
  transform: scale(1.05); /* Slight zoom */
}

.switch-btn:active {
  transform: scale(0.95); /* Shrink effect on click */
}

.alert-success {
  width: 30%;
  margin-left: 290px;
  padding: 10px;
  color: white;
  background-color: #28a745;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
