/* Navbar styles */
/* .navbar {
  background-color: #ffffff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* Navbar right section styles */
/* .navbar-right {
  display: flex;
  align-items: center;
} */

/* User profile image styles */
/* .profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
} */

/* Dropdown styles */
/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #3755ff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-button:focus + .dropdown-content,
.dropdown-button:hover + .dropdown-content {
  display: block;
}

.user-profile{
  width: 150px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Footer styles */
.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  width: 100%;


}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 200px;
  color: #333;
}

.footer-content p {
  margin: 10px 0;
  font-size: 16px;
}
