<div class="dashboard-layout">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <!-- <app-nav-bar></app-nav-bar> -->
    <div class="event-details-container">
     
      <div class="event-card" >
        <img [src]="jobs.image" alt="jobs Image" class="jobs-image">
        <div class="event-details">
          <h3>{{ jobs.title }}</h3>
          <p>Description: {{ jobs.description }}</p>
          <p>Location: {{ jobs.location }}</p>
          <p>Status: {{ jobs.status }}</p>
          <p>Salary: ${{ jobs.salary }}</p>

        </div>
      </div>
    </div>
    <div class="buy-ticket-container">
      <button class="buy-ticket-btn" routerlink="/login">Apply Job</button>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
