<div class="dashboard-layout">
  <div class="main-content">
    <div *ngIf="successMessage" class="alert alert-success fade-in">
      {{ successMessage }}
    </div>
    
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status }}</td>
            <td>
              <button class="delete-btn"  (click)="confirmDeactivation(user)">
                <i class="fas fa-trash-alt"></i> Deactivate Account
              </button>
              <button class="update-btn" (click)="confirmReactivation(user)">
                <i class="fas fa-edit"></i> Activate Account
              </button>
              <button  class="switch-btn"  *ngIf="user.role === 'user'" (click)="switchToManager(user.user_id)">
                <i class="fa fa-user" aria-hidden="true"></i>
                Switch to Manager
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-footer3></app-footer3>
  </div>
</div>
