<div class="dashboard-layout">
  <div class="main-content">
    <div class="card-container">
      <table class="event-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobs of jobs">
            <td><img [src]="jobs.image" alt="jobs Image" class="jobs-image"></td>
            <td>{{ jobs.title }}</td>
            <td>{{ jobs.description }}</td>
            <td>{{ jobs.location }}</td>
            <td>{{ jobs.status }}</td>
            <td>Kshs. {{ jobs.salary}}</td>
            
            <td class="jobs-actions">
              <button class="update-btn"  (click)="onUpdate(jobs.job_id)">
                <i class="fas fa-edit"></i> Update
              </button>
              <button class="delete-btn" (click)="onDelete(jobs.job_id)">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <app-footer3></app-footer3>
  </div>
</div>
<app-update-event *ngIf="selectedjobs" [jobs]="selectedjobs" (closeModaljobs)="closeModal($event)"></app-update-event>
