<div class="dashboard-layout">
  <div class="main-content">
    <div class="create-event-container">
      <button class="create-event-btn" (click)="openModal()">+ Create a Job</button>
    </div>
    <div class="card-container">
      <table class="event-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Status</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobs of jobs">
            <td><img [src]="jobs.image" alt="jobs Image" class="event-image"></td>
            <td>{{ jobs.title }}</td>
            <td>{{ jobs.description }}</td>
            <td>{{ jobs.location }}</td>
            <td>{{ jobs.status }}</td>
            <td>{{ jobs.salary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-footer2></app-footer2>

    <!-- Modal Form -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <form (submit)="createjobs($event)">
          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" id="image" name="image" required>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
          </div>
        
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" required>
          </div>
          <div class="form-group">
            <label for="status">Choose Status of the job</label>
            <select id="status" Name="status">
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" id="salary" name="salary" required>
          </div>
         
          <button type="submit" class="create-btn">Create Job</button>
        </form>
      </div>
    </div>
  </div>
</div>
